<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Recipe List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/style.css}">
</head>
<body>
    <th:block th:include="/_menu">...</th:block>

    <h1>Category List</h1>
    <a href="category">Add category</a>
    <br/> <br/>

    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr th:each="category : ${categories}">
                <td th:utext="${category.getId()}">...</td>
                <td th:utext="${category.getName()}"></td>
            </tr>
        </table>
    </div>

</body>
</html>