<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ingredient List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/style.css}">
</head>
<body>
<th:block th:insert="_menu :: menu"></th:block>

    <h1>Ingredient List</h1>
    <a href="/ingredient">Add ingredient</a>
    <br/> <br/>

    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr th:each="ingredient : ${ingredients}">
                <td th:utext="${ingredient.getId()}">...</td>
                <td th:utext="${ingredient.getName()}">...</td>
            </tr>
        </table>
    </div>
</body>

</html>