<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Recipe List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles/style.css}">
</head>
<body>
<th:block th:insert="_menu :: menu"></th:block>

    <h1>Recipe List</h1>
    <a href="recipe">Add recipe</a>
    <br/> <br/>

    <div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Category</th>
            </tr>
            <tr th:each="recipe : ${recipes}">
                <td th:utext="${recipe.getId()}">...</td>
                <td th:utext="${recipe.getName()}">...</td>
                <td th:utext="${recipe.getDescription()}">...</td>
                <td th:utext="${recipe.getAuthor().getUserName()}">...</td>
                <td th:utext="${recipe.getCategory().getName()}">...</td>
            </tr>
        </table>
    </div>

</body>
</html>