<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <meta name="_jwt" th:content="${yourToken}"/>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:insert="_menu :: menu"></th:block>


<form th:action="@{/authentication}"
      th:object="${auth}" method="POST">
    Id: <br/>
    <input type="text" placeholder="Input category id" th:field="*{username}" size="40px" /> <br/>
    Name: <br/>
    <input type="text" placeholder="Input category name" th:field="*{password}" size="40px" /> <br/>

    <input type="submit" value="Submit" id="btnSubmit">
    <input type="reset" value="Reset">

    <div th:text="${token}" id="token"></div>

</form>
<script>
    $(function(){
        var _token = $('meta[name="_jwt"]').attr('content');

        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("Autorization", _token);
        });
    });
</script>
</body>
</html>