<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserController</title>
</head>
<body>
    <th:block th:include="/_menu">...</th:block>

    <form th:action="@{/category}"
          th:object="${categoryForm}" method="POST">
        Name: <br/>
        <input type="text" placeholder="Input category name" th:field="*{name}" size="40px" /> <br/>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>

    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic">
        ...
    </div>


</body>
</html>