<!DOCTYPE HTML>
<html>
<head>
    <title>IngredientContext controller</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form method="post">
    <span><input type="text" name="count" placeholder="Введите количество" size="30"></span>
    <span><input type="text" name="ingredientName" placeholder="Введите продукт"></span>
    <span><input type="text" name="recipeId" placeholder="Введите id рецепта"></span>
    <p><b>Флаг:</b><Br>
        <input type="radio" name="flag" value="шт" checked="checked">Шт.<Br>
        <input type="radio" name="flag" value="л">Л.<Br>
        <input type="radio" name="flag" value="мл">Мл.<Br>
        <input type="radio" name="flag" value="кг">Кг.<Br>
        <input type="radio" name="flag" value="гр">Гр.<Br>
    </p>
    <p><input type="submit" value="Отправить">
        <input type="reset" value="Очистить"></p>
</form>
<p>{{message}}</p>
<a href="/">Back to mainPage</a>

<table border="1" cellpadding="5">
    {{#ingredientContexts}}
        <tr>
            <td>{{id}}</td>
            <td>{{count}}</td>
            <td>{{flag}}</td>
            <td>{{recipeIngredients.id}}</td>
            <td>{{ingredient.name}}</td>
        </tr>
    {{/ingredientContexts}}
</table>
</body>
</html>