<!DOCTYPE HTML>
<html>
<head>
    <title>CookMeGood list of controllers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>List of controllers</div>
<a href="userHTML">Go to userController</a>
<br>
<a href="recipeHTML">Go to recipeController</a>
<br>
<a href="commentHTML">Go to commentController</a>
</body>
</html>