<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserController</title>
</head>
<body>
    <th:block th:include="/_menu"></th:block>

    <form th:action="@{/user}"
        th:object="${userForm}" method="POST">

        Login: <br/>
        <input type="text" placeholder="Input your login!" th:field="*{userName}" size="40px" /> <br/>
        Password: <br/>
        <input type="text" placeholder="Input your password" th:field="*{password}" /> <br/>
        Role: <br/>
        <input type="radio" value="USER" checked="checked" th:field="*{role}" /> - USER <br/>
        <input type="radio" value="MODERATOR" th:field="*{role}" /> - MODERATOR <br/>
        <input type="radio" value="ADMIN" th:field="*{role}" /> - ADMIN<br/>
        <br/>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>

    <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red; font-style: italic">
        ...
    </div>


</body>
</html>