@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
    height:100%;

}
body {
    margin:0;
    padding:0;
    background-color:#e9e9e9;
    color:#000;
    font-family: 'Open Sans', sans-serif;
}

#stretcher {
    position:absolute;
    right:0;
    bottom:0;
    z-index:0;
    width:35%;
    background-color:#e9e9e9;
    color:inherit;
}
html>body #stretcher {
    top:0;
}
* html #stretcher {
    height:1000em;
}

#middle {
    position:relative;
    z-index:4;
    overflow:hidden;
    width:100%;
    min-width:640px;
    min-height:100%;
    background-color:#fff;
    color:inherit;
}
*html #middle {
    overflow:visible;
    height:100%;
}

#content {
    position:relative;
    z-index:1;
    float:left;
    padding:1.5em 2%;
    width:61%;
}
* html #content {
    width:60.8%;
}
*+html #content {
    width:60.8%;
}

#sidebar {
    position:relative;
    z-index:1;
    float:right;
    padding:1.5em 2%;
    width:31%;
    background-color:#e9e9e9;
    color:inherit;
}